# LISTS

In [78]:
# A list is a collection of items in a particular order. It can be a simple list of strings, or a more complicated list containing multiple types of items.

In [79]:
bycicles = ['trek', 'cannondale', 'redline', 'specialized']
print(bycicles)

['trek', 'cannondale', 'redline', 'specialized']

In [80]:
# to access the first item in a list, you can use the index number.
print(bycicles[0])

trek

In [81]:
# to access the last item in a list, you can use the index number.
print(bycicles[-1])

specialized

In [82]:
# to add an item to the end of a list, you can use the append method.
bycicles.append('giant')

In [83]:
# use the title method to capitalize the first letter of each word.
print(bycicles[2].title())

Redline

In [84]:
# use a value from the list to compose a message.
print(f"My first road bike was a {bycicles[1].title()}")

My first road bike was a Cannondale

# LISTS EXERCISES

In [85]:
names = ['james', 'john', 'jack', 'jim', 'jill']
names[0].title()

'James'

In [86]:
for name in names:
    print(f"Hello {name}, How are you today?")

Hello james, How are you today?
Hello john, How are you today?
Hello jack, How are you today?
Hello jim, How are you today?
Hello jill, How are you today?

In [87]:
makes = ['honda', 'toyota', 'subaru', 'bmw', 'ford', 'dodge']
for make in makes:
    if make == 'bmw':
        print(f"I'd like to own a {make} one day!")
    elif make == 'ford' or make == 'dodge':
        print(f"If I can't afford a {makes[-3]}, I would be okay with a {make}.")
    else:
        print(f"I don't like {make}")

I don't like honda
I don't like toyota
I don't like subaru
I'd like to own a bmw one day!
If I can't afford a bmw, I would be okay with a ford.
If I can't afford a bmw, I would be okay with a dodge.

In [88]:
avengers = ['hawkeye', 'iron man', 'black widow', 'captain america', 'thor', 'hulk']
avengers

['hawkeye', 'iron man', 'black widow', 'captain america', 'thor', 'hulk']

In [89]:
new_avengers = ['spider-man', 'doctor strange', 'black panther', 'falcon', 'winter soldier']
new_avengers

['spider-man', 'doctor strange', 'black panther', 'falcon', 'winter soldier']

In [90]:
all_avengers = avengers + new_avengers
print(all_avengers, end=" ")

['hawkeye', 'iron man', 'black widow', 'captain america', 'thor', 'hulk', 'spider-man', 'doctor strange', 'black panther', 'falcon', 'winter soldier']

In [91]:
if 'captain america' in avengers:
    print(f"{avengers[-3].title()} has been replaced by {new_avengers[-2].title()}")

Captain America has been replaced by Falcon

In [92]:
avengers[-3] = 'The Falcon'

In [93]:
avengers

['hawkeye', 'iron man', 'black widow', 'The Falcon', 'thor', 'hulk']

In [94]:
avenger_names = [avenger.title() for avenger in avengers]

In [95]:
avenger_names

['Hawkeye', 'Iron Man', 'Black Widow', 'The Falcon', 'Thor', 'Hulk']

In [96]:
avengers.append('ant-man')
print(avengers)

['hawkeye', 'iron man', 'black widow', 'The Falcon', 'thor', 'hulk', 'ant-man']

In [97]:
avengers[3] = 'the falcon'

In [98]:
avengers

['hawkeye', 'iron man', 'black widow', 'the falcon', 'thor', 'hulk', 'ant-man']

In [99]:
computers = []

computers.append('apple')
computers.append('hp')
computers.append('lenovo')
computers.append('dell')
computers.append('samsung')

In [100]:
computers

['apple', 'hp', 'lenovo', 'dell', 'samsung']

In [101]:
# extend is a method that adds more than one item to a list.
computers = []

def add_computer(listname, *comp_name):
    listname.extend(comp_name)

add_computer(computers, 'apple', 'hp', 'lenovo', 'dell', 'samsung')
print(computers)

['apple', 'hp', 'lenovo', 'dell', 'samsung']

In [102]:
# inserting a value into a list at any index.
numbers = [1, 2, 3, 4, 6, 7, 8, 9, 10]

In [103]:
numbers

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [104]:
numbers.insert(4, 5)

In [105]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
del numbers[4]

In [107]:
numbers

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [108]:
def add_numbers(listname, *number):
    listname.extend(number)

add_numbers(numbers, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(numbers)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [109]:
# the pop() method removes the last item from a list.
computers.pop()

'samsung'

In [110]:
computers

['apple', 'hp', 'lenovo', 'dell']

In [111]:
never_owned = computers.pop()
print(f"I never owned a {never_owned.title()} computer.")

I never owned a Dell computer.

In [112]:
print(all_avengers, end=" ")

['hawkeye', 'iron man', 'black widow', 'captain america', 'thor', 'hulk', 'spider-man', 'doctor strange', 'black panther', 'falcon', 'winter soldier']

In [113]:
# pop an item from any index in a list.
all_avengers.pop(-1)

'winter soldier'

In [114]:
all_avengers

['hawkeye',
 'iron man',
 'black widow',
 'captain america',
 'thor',
 'hulk',
 'spider-man',
 'doctor strange',
 'black panther',
 'falcon']

In [115]:
all_avengers.insert(-1, 'winter soldier')

In [116]:
all_avengers

['hawkeye',
 'iron man',
 'black widow',
 'captain america',
 'thor',
 'hulk',
 'spider-man',
 'doctor strange',
 'black panther',
 'winter soldier',
 'falcon']

In [118]:
# remove an item by value.
computers.remove('lenovo')

In [119]:
computers

['apple', 'hp']

In [120]:
computers.insert(-1, 'dell')

In [121]:
computers

['apple', 'dell', 'hp']

In [123]:
most_expensive = computers[0]
computers.remove(most_expensive)
print(computers)
print(f"The most expensive computer I've owned is a {most_expensive.title()} computer.")

['hp']
The most expensive computer I've owned is a Dell computer.

In [124]:
computers.insert(0, 'apple')

In [125]:
computers

['apple', 'hp']

In [126]:
add_computer(computers, 'apple', 'hp', 'lenovo', 'dell', 'samsung')

In [127]:
computers

['apple', 'hp', 'apple', 'hp', 'lenovo', 'dell', 'samsung']

In [128]:
computers.remove('apple')

In [129]:
computers

['hp', 'apple', 'hp', 'lenovo', 'dell', 'samsung']

In [130]:
computers.remove('hp')

In [131]:
computers

['apple', 'hp', 'lenovo', 'dell', 'samsung']

In [133]:
for computer in computers:
    print(computer.title())

Apple
Hp
Lenovo
Dell
Samsung

# EXERCISES

In [143]:
guest_list = ['tupac', 'bob marley', 'kurt cobain']
for guest in guest_list:
    print(f"Dear {guest.title()}, please come to my party.")

Dear Tupac, please come to my party.
Dear Bob Marley, please come to my party.
Dear Kurt Cobain, please come to my party.

In [144]:
cant_come = guest_list.pop(-1)
print(f"{cant_come} can't make it to the party.")
guest_list.append('steve jobs')
print(f"The new guest {guest_list[-1]} will replace {cant_come} on the guest list.")

kurt cobain can't make it to the party.
The new guest steve jobs will replace kurt cobain on the guest list.

In [145]:
def add_guests(listname, *guest):
    listname.extend(guest)

add_guests(guest_list, 'jimi hendrix', 'notorious big', 'malcolm x')
print(f"The new guest list is {guest_list}")

The new guest list is ['tupac', 'bob marley', 'steve jobs', 'jimi hendrix', 'notorious big', 'malcolm x']

In [146]:
guest_list.insert(0, 'snoop dogg')

In [147]:
guest_list

['snoop dogg',
 'tupac',
 'bob marley',
 'steve jobs',
 'jimi hendrix',
 'notorious big',
 'malcolm x']

In [148]:
len(guest_list)

7

In [149]:
guest_list.insert(3, 'the beatles')

In [150]:
guest_list

['snoop dogg',
 'tupac',
 'bob marley',
 'the beatles',
 'steve jobs',
 'jimi hendrix',
 'notorious big',
 'malcolm x']

In [151]:
guest_list.append('the rolling stones')

In [152]:
guest_list

['snoop dogg',
 'tupac',
 'bob marley',
 'the beatles',
 'steve jobs',
 'jimi hendrix',
 'notorious big',
 'malcolm x',
 'the rolling stones']

In [153]:
for guest in guest_list:
    print(f"Dear {guest.title()}, please come to my party.")

Dear Snoop Dogg, please come to my party.
Dear Tupac, please come to my party.
Dear Bob Marley, please come to my party.
Dear The Beatles, please come to my party.
Dear Steve Jobs, please come to my party.
Dear Jimi Hendrix, please come to my party.
Dear Notorious Big, please come to my party.
Dear Malcolm X, please come to my party.
Dear The Rolling Stones, please come to my party.

In [158]:
print(guest_list, end=" ")

['snoop dogg', 'tupac', 'bob marley', 'the beatles', 'steve jobs', 'jimi hendrix', 'notorious big', 'malcolm x', 'the rolling stones']

In [166]:
print("Sorry I can only have two of you at the party.")

for guest in guest_list:
    if guest != 'tupac' and guest != 'steve jobs':
        print(f"Sorry {guest.title()}, I can't have you at the party.")
    else:
        print(f"{guest.title()}, you are still on the list.")

Sorry I can only have two of you at the party.
Sorry Snoop Dogg, I can't have you at the party.
Tupac, you are still on the list.
Sorry Bob Marley, I can't have you at the party.
Sorry The Beatles, I can't have you at the party.
Steve Jobs, you are still on the list.
Sorry Jimi Hendrix, I can't have you at the party.
Sorry Notorious Big, I can't have you at the party.
Sorry Malcolm X, I can't have you at the party.
Sorry The Rolling Stones, I can't have you at the party.

In [167]:
guest_list

['snoop dogg',
 'tupac',
 'bob marley',
 'the beatles',
 'steve jobs',
 'jimi hendrix',
 'notorious big',
 'malcolm x',
 'the rolling stones']